.journal-dashboard {
    gap: 25px;
    display: flex;
    flex-direction: column;
}

.journal-dashboard > div {
    width: 100%;
    padding: 15px 0px 35px 0;
    background-color: #000000;
    border-bottom: 1px solid #232323;
}

.journal-dashboard > div > h2 {
    margin-bottom: 15px;
}