.asset-performers {
    width: 100%;
}

.selected-performers {
    gap: 50px;
    display: flex;
    justify-content: space-between;
}

.selected-performers > div {
    width: 100%;
}


@media(max-width: 768px) {
    .selected-performers {
        gap: 15px;
        display: flex;
        flex-direction: column;
    }
}