.crypto-portfolio {
    width: 100%;
}

.crypto-stats {
    align-items: center;
}

.crypto-stats-desk {
    gap: 25px;
    display: flex;
    align-items: center;
}

.crypto-stats-mobo {
    display: none;
}

.add-coin {
    margin: 25px 0;
}

.add-coin-form form {
    gap: 15px;
    display: flex;
    margin-top: 25px;
    width: fit-content;
}

.crypto-folio-mobo {
    display: none;
}

.addCoinBtn {
    height: auto;
    display: flex;
    align-items: center;
}


/* Folio Table */

.folio-action {
    text-align: center;
}


@media (max-width: 768px) {
    .crypto-portfolio {
        width: 100%;
    }

    .crypto-stats-desk {
        display: none;
    }

    .crypto-stats-mobo {
        display: block;
    }

    .add-coin-form form {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .folio-action i {
        font-size: 17px;
    }

    .add-coin-form button {
        width: fit-content;
        padding: 12px;
    }

    .crypto-folio {
        display: none;
    }

    .crypto-folio-mobo {
        display: block;
    }

    .crypto-folio-mobo td {
        color: #c4c4c4;
        font-size: 12px;
    }

    .cfm-asset {
        margin: 5px 0;
        font-size: 14px;
        color: #ffffff;
    }
}