.portfolio-summary {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.summary-stats {
    width: 100%;
}

@media(max-width: 768px) {
    .summary-stats-desktop {
        display: none;
    }
}