footer {
    width: 100%;
    display: flex;
    padding: 15px 10%;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 -1px 0 rgb(70, 70, 70);
}

footer div {
    margin: 7px 0;
}

footer p {
    margin: 0;
}