header {
    top: 0;
    z-index: 9;
    width: 100%;
    position: fixed;
    background-color: black;
    box-shadow: rgba(251, 251, 251, 0.345) 05px 8px 8px -10px;
}

nav {
    display: flex;
    margin: 3px 5px;
    padding: 10px 10%;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 40px;
    height: 40px;
}

@media (max-width: 768px) {
    header {
        width: 100%;
        top: 0px;
        left: 50%;
        position: fixed;
        box-shadow: none;
        transform: translateX(-50%);
        background-color: #151515;
    }

    header img {
        width: 30px;
        height: 30px;
    }

    header nav div > p {
        font-size: 15px;
        margin: 0;
    }

    nav button {
        display: block;
    }
}