.journal {
    gap: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.create-journal {
    gap: 15px;
    display: flex;
    flex-wrap: wrap;
}

.journal-form form {
    gap: 15px;
    display: flex;
    align-items: center;
}

.journals {
    gap: 15px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0px;
}

.journal-card {
    min-width: 32%;
    padding: 10px 15px;
    border-radius: 8px;
    background-color: #111111;
    border: 1px solid #232323;
}

.journal-card:hover {
    background-color: #131a16;
    border: 1px solid #b4f0cc2e;
}

.journal-card-active {
    min-width: 32%;
    padding: 10px 15px;
    border-radius: 8px;
    background-color: #131a16;
    border: 1px solid #b4f0cc2e;
}

.journal-info {
    gap: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.journal-name {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.18em;
}

.journal-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.journal-created-at {
    font-size: 12px;
}

@media(max-width: 768px) {
    .journals {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        overflow: scroll;
    }

    .journal-card {
        min-width: 80%;
    }

    .journal-card-active {
        min-width: 80%;
    }
}