.strategy {
    gap: 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.create-strategy {
    gap: 15px;
    display: flex;
    flex-wrap: wrap;
}

.strategy-form {
    width: 100%;
}

.strategy-form form {
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.strategy-name-price,
.strategy-options {
    gap: 15px;
    display: flex;
    flex-direction: row;
}

.strategy-options > select {
    padding: 10px 15px;
}

.strategy-notes > input {
    width: 100%;
    height: 100px;
}

.create-strategy-btn {
    width: fit-content;
}

.strategies {
    gap: 15px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0px;
}

.strategy-card {
    min-width: 32%;
    padding: 8px 15px;
    border-radius: 8px;
    background-color: #111111;
    border: 1px solid #232323;
}

.strategy-card:hover {
    background-color: #131a16;
    border: 1px solid #b4f0cc2e;
}

.strategy-card-active {
    min-width: 32%;
    padding: 8px 15px;
    border-radius: 8px;
    background-color: #131a16;
    border: 1px solid #b4f0cc2e;
}

.strategy-info {
    gap: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.strategy-name {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.18em;
}

.strategy-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.strategy-created-at {
    font-size: 12px;
}

@media(max-width: 768px) {

    .strategy-name-price {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .strategy-name-price > input {
        width: 100%;
    }

    .strategy-options {
        display: flex;
        padding: 10px 5px;
        flex-wrap: nowrap;
        overflow-x: scroll;
    }

    .strategies {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        overflow: scroll;
    }

    .strategy-card {
        min-width: 80%;
    }

    .strategy-card-active {
        min-width: 80%;
    }
}