* {
    box-sizing: border-box;
    font-family: "JetBrains Mono", monospace;
}

body {
    width: 100%;
    background-color: black;
}

p {
    color: #ffffff;
}

a {
    margin: 0 10px;
    font-size: 17px;
    color: #ffffff;
    font-family: "JetBrains Mono", monospace;
}

i {
    margin-right: 7px;
}
