.trade-detail-card {
    gap: 25px;
    width: 45%;
    z-index: 999;
    display: flex;
    display: none;
    flex-direction: column;
    padding: 10px 25px 20px 25px;
    border-radius: 10px 10px 10px 10px;
    background-color: #151515;
}

.asset-cont {
    width: 100%;
    display: flex;
    padding: 7px 0;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #1f1f1f;
}

.asset-info {
    width: 50%;
}

.close-card > button {
    font-size: 22px;
    color: #ff6565;
    background-color: transparent;
}

.asset-cont p:nth-of-type(1) {
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
}

.asset-btn {
    display: flex;
    padding: 12px 0;
    justify-content: space-between;
}

.asset-btn button {
    width: 40%;
    margin: 0;
    padding: 12px 25px;
    border-radius: 5px;
}

.asset-btn button:nth-of-type(1) {
    color: #ffffff;
    background-color: #4f6cff;
}

.asset-btn button:nth-of-type(2) {
    color: #ffffff;
    background-color: #ff6363;
}

.asset-title {
    color: #c4c4c4;
    font-size: 13px;
}

.asset-value {
    color: #e1e1e1;
    font-size: 14px;
}

.investment {
    gap: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.investment-value {
    display: flex;
    justify-content: space-between;
}

.investment-change div {
    display: flex;
    justify-content: space-between;
}

@media(max-width: 768px) {
    .trade-detail-card {
        left: 0;
        bottom: 0;
        width: 100%;
        display: block;
        position: fixed;
        justify-content: center;
        align-items: center;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    }
}