.trade-insight-card {
    min-width: 45%;
    height: fit-content;
    border-radius: 10px;
    box-shadow: 0 0 2px rgb(145, 145, 145);
}

.card-title-div {
    padding: 1px 20px;
    background-color: #000000;
    border-radius: 10px 10px 0 0;
}

.trade-insight-card table {
    margin: 0;
    border-radius: 0 0 10px 10px;
}

.trade-insight-card table th {
    color: #c4c4c4;
    font-weight: 300;
    font-size: 12px;
    padding: 5px 20px;
    background-color: #111111;
}

.trade-insight-card table tr {
    border: none;
    border-top: 2px solid #1f1f1f;
}

.card-title {
    color: #ffffff;
    font-size: 15px;
    text-transform: uppercase;
}


@media (max-width: 768px) {
    .trade-insight-card {
        width: 100%;
    }
}